body{
    font-size: 20px
}
h4{
    padding: 15px 0 0 15px;
}
.order_form{
    margin:5rem auto;
    width: 50%
}
.customer_order{
    background-color: rgb(251, 50, 50);
    color: aliceblue;

}
.plus_functions, .choose_function{
    display: flex;
    margin: auto;
    padding-bottom: 15px;
}
ul{
    list-style: none;
}
.order_details{
    justify-content: space-between;
    display: flex;
    background-color: rgb(250, 237, 219);
    color: rgb(21, 16, 16);
    padding: 0 15px;
    flex-wrap: wrap
}
.total_quantity{
    flex-basis: 100%
}